.main {
border-color: 2px solid #000;
border-style: groove;
margin: 1rem 1rem;
}
.main img {
width: 30%;
float: right;
border-radius:50%;
}
.main h1{
padding-top: 2rem;
padding-left: 2rem;
}
.main p{
font-size: large;
padding: 0rem 2rem 2rem 2rem;
font-style:"Helvetica Neue", sans-serif;
}