.blog-post{
margin:0;
padding: 0;
background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/cof1.jpg);
background-size: cover;
background-position: center;
background-attachment: fixed;
}
.blog {
width: 80%;
height: 20px solid #000;
padding: 20px;
margin: 0px auto;
max-width: 700px;
font-family: 'Source Sans Pro', sans-serif;
}
.date {
color: #fff;
letter-spacing: 0.2rem;
text-transform: uppercase;
font-weight: 700;
font-family: 'Source Sans Pro', sans-serif;
}
.blog-title {
padding-top: 20px;
font-size: 2.0rem;
color: #fff;
text-align: center;
font-family: 'Source Sans Pro', sans-serif;
}
.blog p {
color: #fff;
font-weight: 800;
font-size: 20px;
font-family: 'Source Sans Pro', sans-serif;
}
.chapters ul li{
color: #fff;
font-weight: 800;
font-size: 20px;
font-family: 'Source Sans Pro', sans-serif;
}
.paragraph span{
font-size: 25px;
color: #fff;
font-weight: 800;
font-family: 'Source Sans Pro', sans-serif;
}


